<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>房产贷款计算器</title>
</head>

<body>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.7.8/angular.min.js"></script>
    <script src="./house.js"></script>
    <div id="app" ng-app="app">
        <div ng-controller="formCtrl">
            <h1>价格计算器</h1>
            <p>输入单价或面积时，计算的是总价；输入总价时，计算的是单价</p>
            <div>
                单价：<input ng-model="price" ng-change="calcTotalPrice()" />
            </div>
            <div>
                面积：<input ng-model="area" ng-change="calcTotalPrice()" />
            </div>
            <div>
                总价：<input ng-model="totalPrice" ng-change="calcPrice()" />
                <button ng-click="pad10k()">万</button>
            </div>
            <h1>税费计算器</h1>
            <div>
                网签价<input type='text' ng-model='netPrice' ng-change="calcTax()" />
                最低过户指导价<input type='text' ng-model='handoverPrice' ng-change="calcTax()" />
                <h2>契税(万）：{{deedPrice}}</h2>
                <label>
                    <input type='checkbox' ng-model='first' ng-change="calcTax()" />是否首套
                </label>
                <label>
                    <input type='checkbox' ng-model='biggerThan90' ng-change="calcTax()" />是否大于90平（非普通住宅）
                </label>
                <input type='text' ng-model='deedTax' ng-model='deedTax' />自定义税率(%)


                <h2>增值税及附加(万）：{{valueAddedPrice}}</h2>
                <label>
                    增值税率<input type='text' ng-model='valueAddedTax' ng-change="calcTax()" />
                </label>
                <label>
                    原值<input type='text' ng-model='originPrice' ng-change="calcTaxByOriginPrice()" />
                    业主购买单价（元每平）<input type='text' ng-model='originUnitPrice' ng-change="calcTax()" />
                </label>
                <label>
                    <input type='checkbox' ng-model='over2years' ng-change="calcTax()" />房产证下发是否满两年（满二）
                </label>


                <h2>个税(万）：{{incomePrice}}</h2>
                <label>
                    个税税率%<input type='text' ng-model='incomeTax' ng-change="calcTax()" />
                </label>
                <label>
                    原契税（房主购买时缴纳契税）<input type='text' ng-model='originDeedPrice' ng-change="calcTax()" />
                </label>
                <label>
                    银行利息<input type='text' ng-model='interestPrice' ng-change="calcTax()" />
                </label>
                <label>
                    <input type='checkbox' ng-model='over5yearsAndOnlyOne' ng-change="calcTax()" />房产证下发是否满五年且是唯一住房（满五唯一）
                </label>

                <h2>中介费(万）：{{brokeragePrice}}</h2>
                <label>
                    费率%<input type='text' ng-model='brokerage' ng-change="calcTax()" />
                </label>

                <h2>总税费(万）：{{allPrice}}</h2>
            </div>
        </div>

    </div>
</body>

</html>